/* Local Fonts - Rajdhani & Roboto Mono */

@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    src: url('./Rajdhani-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 700;
    src: url('./Rajdhani-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: url('./RobotoMono-Medium.ttf') format('truetype');
}
